---
import Particles from "./magicui/particles";

import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Agosto 2025 - Actualmente...",
    title: "Arquitecto de Soluciones Cloud - Pasante",
    company: "Huawei Technologies",
    description:
      "Asistí en el diseño e implementación de soluciones en la nube, contribuyendo al desarrollo de arquitecturas escalables, seguras y alineadas con las mejores prácticas del sector. Además, colaboré en la elaboración de scripts para automatizar procesos y optimizar recursos.",
  },
];
---

<div class="flex flex-col gap-y-16 relative">
  <div class="flex flex-col md:flex-row md:items-center md:space-x-8">
    <ol class="relative mt-16">
      {
        EXPERIENCE.map((experience) => (
          <li class="">
            <ExperienceItem {...experience} />
          </li>
        ))
      }
    </ol>
  </div>

  <style>
    img {
      mask-image: linear-gradient(black 70%, transparent);
    }
    strong {
      @apply text-red dark:text-redlight;
    }
  </style>
</div>
